[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
networkx = "*"

[dev-packages]
njsd = {editable = true, path = "."}

[requires]
python_version = "3.6"
